In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('covid_Toy.csv')
df.sample(10)

    age  gender  fever   cough       city has_covid
92   82  Female  102.0  Strong    Kolkata        No
50   19    Male  101.0    Mild      Delhi       Yes
12   25  Female   99.0  Strong    Kolkata        No
88    5  Female  100.0    Mild    Kolkata        No
6    14    Male  101.0  Strong  Bangalore        No
84   69  Female   98.0  Strong     Mumbai        No
59    6  Female  104.0    Mild    Kolkata       Yes
98    5  Female   98.0  Strong     Mumbai        No
23   80  Female   98.0    Mild      Delhi       Yes
1    27    Male  100.0    Mild      Delhi       Yes

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
df['city'].unique(), df['cough'].unique()

(array(['Kolkata', 'Delhi', 'Mumbai', 'Bangalore'], dtype=object),
 array(['Mild', 'Strong'], dtype=object))

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'], test_size=0.2)

In [10]:
si = SimpleImputer()

x_train_fever = si.fit_transform(x_train[['fever']])
x_test_fever = si.fit_transform(x_test[['fever']])
x_train_fever.shape

(80, 1)

In [14]:
oe = OrdinalEncoder(categories=[['Mild','Strong']])

x_train_cough = oe.fit_transform(x_train[['cough']])
x_test_cough = oe.fit_transform(x_test[['cough']])
x_train_cough.shape

(80, 1)

In [15]:
ohe = OneHotEncoder(drop='first', sparse_output=False)

x_train_gen_city = ohe.fit_transform(x_train[['gender', 'city']])
x_test_gen_city = ohe.fit_transform(x_test[['gender', 'city']])
x_train_gen_city.shape

(80, 4)

In [19]:
x_train_age = x_train.drop(columns=['gender','fever','cough','city']).values
x_test_age = x_test.drop(columns=['gender','fever','cough','city']).values
x_train_age.shape

(80, 1)

In [20]:
x_train_transformed = np.concatenate((x_train_gen_city, x_train_age, x_train_fever, x_train_cough),axis=1)
x_test_transformed = np.concatenate((x_test_gen_city, x_test_age, x_test_fever, x_test_cough),axis=1)

x_train_transformed.shape

(80, 7)

NOW, writng the same code using Coulmn transformer method.

In [21]:
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OneHotEncoder(sparse_output=False, drop='first'),['city','gender']),
    ('tnf3',OrdinalEncoder(categories=[['Mild','Strong']]),['cough'])
], remainder='passthrough')

In [22]:
transformer.fit_transform(x_train).shape

(80, 7)